<div class="header">
  <h1 class="text-muted name">Evan Cohen</h1>
  <ul class="nav nav-pills nav-main">
    <li class="active"><a ng-href="#">Resume</a></li>
    <li><a ng-href="#">Portfolio</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
</div>


<div class="row banner">
  <div class="col-md-4 text-center">
  <img src="images/profile.jpg" alt="Evan Cohen" />
  </div>
  <div class="col-md-8 qualifications">
    <h2 class="topless">Employment Status: <span class="text-success">Available</span></h2>
    <p>Part time work, full time work starting September 2014.</p>
    <h3 class="topless">Qualifications:</h3>
      <ul>
        <li> Over 7 years' Web Design and Development experience, with proven background successfully managing all facets of development, from initial design and architecture to deployment and client management.</li>
        <li> Demonstrated ability to complete high-end projects in deadline-oriented environments.</li>
        <li> Highly motivated, reliable, and productive; proven ability to deliver high quality work.</li>
        <li> Able to effectively communicate with wide range of clients and coworkers with endless patience.</li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Lenguages and Technologies:</h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <ul>
        <li>SASS</li>
        <li>LESS</li>
      </ul>
      <li>JavaScript</li>
      <ul>
      <li>Angular</li>
        <li>jQuery (UI)</li>
        <li>Prototype</li>
        <li>Node</li>
      </ul>
      <li>Phonegap (Cordova)</li>
      <li>PHP</li>
      <ul>
        <li>Drupal</li>
        <li>Wordpress</li>
      </ul>
      <li>SQL</li>
      <li>C++</li>
      <li>Java</li>
      <li>Python</li>
    </ul>

    <h3>Knowledge and Skills</h3>
    <ul>
      <li>Sysadmin (Linux)</li>
      <li>JSON/XML REST APIs</li>
      <li>Object Oriented design</li>
      <li>Agile & Scrum</li>
      <li>Mobile Web Technologies</li>
      <li>Network Design</li>
    </ul>
  </div>
  <div class="col-md-8">
    <h3>Work History</h3>

  </div>
</div>
  

<div class="footer">
  <div class="pull-right">
    <p>Built with:</p>
    <img src="images/yo.gif" alt="Yeoman">
    <img src="images/grunt.gif" alt="Grunt">
    <img src="images/bower.gif" alt="Bower">
    <img src="images/angular.gif" alt="Angular">
    <img src="images/sass.gif" alt="Sass">
  </div>
</div>
