<div class="header">
  <h1 class="text-muted name">Evan Cohen</h1>
  <!-- <ul class="nav nav-pills nav-main">
    <li class="active"><a ng-href="#">Resume</a></li>
    <li><a ng-href="#">Portfolio</a></li>
    <li><a ng-href="mailto:evanbtcohen@gmail.com">Contact</a></li>
  </ul> -->
</div>


<div class="row banner">
  <div class="col-md-4 text-center">
  <img src="images/profile.jpg" alt="Evan Cohen" />
  </div>
  <div class="col-md-8 qualifications">
    <h2 class="topless">Employment Status: <span class="label label-success">Available</span></h2>
    <p>Part time work, full time work starting September 2014.</p>
    <h3 class="topless">Qualifications:</h3>
      <ul>
        <li> Over 7 years' Web Design and Development experience, with proven background successfully managing all facets of development, from initial design and architecture to deployment and client management.</li>
        <li> Demonstrated ability to complete high-end projects in deadline-oriented environments.</li>
        <li> Highly motivated, reliable, and productive; proven ability to deliver high quality work.</li>
        <li> Able to effectively communicate with wide range of clients and coworkers with endless patience.</li>
      </ul>
    <h3>Contact</h3>
    <ul class="nav-stacked">
      <li><span class="glyphicon glyphicon-envelope"></span> <a ng-href="mailto:evanbtcohen@gmail.com">email</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Lenguages and Technologies</h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <ul>
        <li>SASS</li>
        <li>LESS</li>
      </ul>
      <li>JavaScript</li>
      <ul>
      <li>Angular</li>
        <li>jQuery (UI)</li>
        <li>Prototype</li>
        <li>Node</li>
      </ul>
      <li>Phonegap (Cordova)</li>
      <li>PHP</li>
      <ul>
        <li>Drupal</li>
        <li>Wordpress</li>
      </ul>
      <li>SQL</li>
      <li>C++</li>
      <li>Java</li>
      <li>Python</li>
    </ul>

    <h3>Knowledge and Skills</h3>
    <ul>
      <li>Sysadmin (Linux)</li>
      <li>JSON/XML REST APIs</li>
      <li>Object Oriented design</li>
      <li>Agile & Scrum</li>
      <li>Mobile Web Technologies</li>
      <li>Network Design</li>
    </ul>
  </div>
  <div class="col-md-8">
    <h3>Work History</h3>

    <h4><a target="_blank" href="http://dailyuw.com">The Daily</a> (2011 - Present)</h4>
    <strong>Webmaster</strong>
    <ul>
      <li>Responcible for all stages of site creation, from initial design and archetecture to development, migration of old content, deployment, and maintanance of site.</li>
    </ul>

    <h4><a target="_blank" href="http://trov.com">Tro&#772;v</a> (2013 - 2014)</h4>
    <strong>Intern, Software Engineer</strong>
    <ul>
      <li>Developed cross platform mobile application using Angular, PhoneGap, and other tools.</li>
      <li>Implamented existing designs into application and created new designs where applicable.</li>
      <li>Worked effectivly both remotely and in office envirenment.</li>
    </ul>

    <h4><a target="_blank" href="https://getnomon.com">nomON</a> (2013 - 2014)</h4>
    <strong>Full Stack Software Engineer</strong>
    <ul>
      <li><a target="blank" href="http://www.geekwire.com/2013/startup-weekend-uw/">Won Startup Weekend</a> (1/25/2013)</li>
      <li>Developed both server and client side applications.</li>
      <li>Created RESTful API in PHP for data managment</li>
      <li>Worked with Google Venture Group <a target="_blank" href="http://ordr.in">Ordr.in</a> API's to successfuly deliver food.</li>
    </ul>

    <h4><a target="_blank" href="http://www.tamber.com/">Tamber</a> (2010 - 2012)</h4>
    <strong>Full Stack Software Engineer</strong>
    <ul>
      <li>Created server side application for music and concert suggestion.</li>
      <li>Primarally focused on front end application.</li>
      <li>Developed custom MVC for internal use.</li>
    </ul>

    <h4><a target="_blank" href="http://bhsjacket.com">Berkeley High Jacket</a> (2009 - 2010)</h4>
    <strong>Senior Web Developer</strong>
    <ul>
      <li>Designed and developed site from the ground up using Drupal.</li>
      <li>Conducted multiple case studies to identify issues and make the site even more user friendly.</li>
      <li>Received Golden Crown Award March 19th 2010 from The Columbia Scholastic Press Association.</li>
    </ul>

    <h4>Other Work</h4>
    <ul>
      <li><a href="http://g.evanbtcohen.com/">gGroceries</a> - Group grocery app (Created in a weekend).</li>
      <li>Mobile chat application for students of the UW.</li>
      <li>Developed simple open-source CMS for students that have an interest in web design.</li>
      <li>Created profitable fully functional ecommerce website equipped with blog and full front-end operability with shopping cart and inventory system.</li>
      <li>Pro bono web development for local climbing team and "green" newspaper.</li>
    </ul>

  </div>
</div>
  

<div class="footer">
  <div class="pull-right">
    <p>Built with:</p>
    <img src="images/yo.gif" alt="Yeoman">
    <img src="images/grunt.gif" alt="Grunt">
    <img src="images/bower.gif" alt="Bower">
    <img src="images/angular.gif" alt="Angular">
    <img src="images/sass.gif" alt="Sass">
  </div>
</div>
