ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

/*Info Vis*/
.infographic {
	background-image: url('/info-vis/images/background.png');
	color: #e1f1f7;
	padding-top: 15px;
	font-family: 'Open Sans', sans-serif;
}

.infographic h1, .infographic h2, .infographic h3, .infographic h5, .infographic .oswald {
	font-family: 'Oswald', sans-serif;
}

.infographic h1 {
	font-size: 100px;
}

.infographic h3 {
	padding-bottom: 0;
}

.infographic h4, .infographic .pacifico {
	font-family: 'Pacifico', cursive;
	font-size: 34px;
}

.infographic h5 {
	font-size: 20px;
}

.infographic h2 {
	background-image: url('/info-vis/images/header.png');
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
}

.infographic .open-sans {
	font-family: 'Open Sans', sans-serif;
}

.infographic #map rect[fill="#ffffff"]{
	opacity: 0;
}

.infographic path[fill="#000000"] {
	stroke: #e1f1f7;
	fill: #e1f1f7;
}

.infographic .header{
	text-align: center;
	border-bottom: none;
	margin-top: 30px;
}

.infographic .header h5 {
	margin-bottom: 20px;
}

.infographic .footer {
	background: #d0e1e6;
	color: #383b3d;
	border: none;
}

.infographic .footer img {
	width: 50px;
	position: relative;
	vertical-align: baseline;
}

.infographic .footer i, .infographic .footer img:not(:last-child) {
	margin-right: 5px;
}

.infographic .footer ul {
	padding-left: 0;
}

.infographic .lead {
	text-align: justify;
}

.playground-container {
	text-align: left;
}

.infographic ul {
	list-style-type: none;
	padding-left: 10px;
}

.infographic a {
	color: #75a9c1;
}

.infographic a.openswitch.selected {
	color: #b5cf89;
	font-weight: normal;
}

.infographic a.openswitch.selected i {
	font-weight: normal;
}

.infographic #explain-tip {
	font-size: 32px;
}

.infographic .row-stats .number {
	font-size: 125px;
	font-weight: 700;
	line-height: 1em;
}

.infographic .row-stats .number-text {
	font-size: 50px;
	font-weight: 700;
	line-height: 1em;
}

.infographic .row-stats .text {
	font-size: 42px;
	line-height: 1.1em;
	position: relative;
	top: -2px;
}

.infographic .row-stats .description {
	margin-top: 15px;
	font-size: 18px;
}

.infographic ul.repo-list, .infographic ul.contrib-list img{
	text-align: left;
	font-size: 22px;
}

.infographic ul.contrib-list img {
	margin-right: 5px;
}

.infographic ul.repo-list img, .infographic ul.contrib-list img {
	width: 32px;
}

.infographic ul.repo-list li:not(:last-child), .infographic ul.contrib-list li:not(:last-child), .infographic .list-key{
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 2px solid #57738d;
}

.infographic .list-key.key-large{
	font-size: 30px;
	margin-left: 10px;
}

.infographic ul.contrib-list {
	padding-left: 0;
}

.infographic #sliderText {
	display: inline-block;
	width: 120px;
}

.infographic .x-margin-top-15 {
	margin-top: 15px;
}

.infographic .x-margin-top-30 {
	margin-top: 30px;
}

.infographic .x-margin-top-45 {
	margin-top: 45px;
}

.infographic .x-margin-top-50 {
	margin-top: 50px;
}

.infographic .graph {
	background: #b5cf89;
	color: #283541;
	height: 1.5em;
	display: inline-block;
	padding-left: 5px;
}

.infographic .graph.graph-20-3 {
	width: 81.2%;
}

.infographic .graph.graph-7-7 {
	width: 30.8%;
}

.infographic .graph.graph-5-8 {
	width: 23.2%;
}

.infographic .graph.graph-4-8 {
	width: 19.2%;
}

.infographic .graph.graph-4-3 {
	width: 17.2%;
}
/*COLORS*/

.infographic .light-green {
	color: #b5cf89;
}

.infographic .dark-green {
	color: #68774f;
}

.infographic .light-grey {
	color: #aebabf;
}

.infographic .dark-grey {
	color: #778083;
}

.infographic .light-blue {
	color: #75a9c1;
}

.infographic .dark-blue {
	color: #57738d;
}

.infographic .offwhite {
	color: #e1f1f7;
}

#process h3 {
	margin-top: 0;
}

#process .row {
	margin-top: 10px;
}

#video {
	width: 100%;
}

/*Form icon alignment */
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}